* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 10px;
  background: url("photo-4.jpg");
  background-size: cover;
}
body div {
  width: 160px;
  height: 160px;
  background-color: rgba(108, 45, 163, 0.753);
  text-align: center;
  padding-top: 35px;
}
body div p:first-child {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
body div p:last-child {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
